name: Build Rocky 9 Golden Image

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # Prevent the "wrong HCL file" problem forever
      - name: Show files
        run: |
          pwd
          ls -la
          find . -name "*.pkr.hcl"

      - name: Install Packer (official apt)
        run: |
          sudo apt update
          sudo apt install -y packer

      - name: Packer Init
        run: packer init rocky.pkr.hcl

      - name: Packer Validate
        env:
          PKR_VAR_proxmox_url: ${{ secrets.PROXMOX_URL }}
          PKR_VAR_token_id: ${{ secrets.PROXMOX_TOKEN_ID }}
          PKR_VAR_token_secret: ${{ secrets.PROXMOX_TOKEN_SECRET }}
        run: packer validate rocky.pkr.hcl

      - name: Packer Build Rocky Template
        env:
          PKR_VAR_proxmox_url: ${{ secrets.PROXMOX_URL }}
          PKR_VAR_token_id: ${{ secrets.PROXMOX_TOKEN_ID }}
          PKR_VAR_token_secret: ${{ secrets.PROXMOX_TOKEN_SECRET }}
        run: packer build rocky.pkr.hcl

      # Verify VM 9002 became a template
      - name: Verify Template
        run: |
          curl -k \
          -H "Authorization: PVEAPIToken=${{ secrets.PROXMOX_TOKEN_ID }}=${{ secrets.PROXMOX_TOKEN_SECRET }}" \
          ${{ secrets.PROXMOX_URL }}/nodes/pve/qemu/9002/status/current | grep template
